[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lakeapi = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
matplotlib = "*"
mplfinance = "*"

[dev-packages]

[requires]
python_version = "3.9"
